<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="experiences" class="experiences" th:with="totalFacts=${data.getFacts().size()},
                                                                firstHalfFacts=${data.getFacts().subList(0, totalFacts > 3 ? 3 : totalFacts)},
                                                                secondHalfFacts=${totalFacts > 3 ? data.getFacts().subList(3, totalFacts) : null}">
    <!-- First Row -->
    <div class="experience-row">
        <div class="experience-container" th:each="experience : ${firstHalfFacts}"
             th:if="${experience.factType.name() == 'experience'}">
            <div class="experience-dates">
                <span th:text="${experience.factTitle + ' | ' + experience.startDate + ' - ' + experience.endDate}"></span>
            </div>
            <div class="experience-location">
                <span th:text="${experience.location + ' | ' + experience.city}"></span>
            </div>
            <div class="experience-description" th:text="${experience.factDescription}">Job description</div>
            <div class="experience-technologies">
                <span>Technologies :</span>
                <div class="experience-skills" th:each="skill : ${experience.linkedSkills}">
                    <span th:text="${skill.skillName}">List of technologies</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Second Row (if available) -->
    <div class="experience-row" th:if="${secondHalfFacts != null}">
        <div class="experience-container" th:each="experience : ${secondHalfFacts}"
             th:if="${experience.factType.name() == 'experience'}">
            <div class="experience-dates">
                <span th:text="${experience.factTitle + ' | ' + experience.startDate + ' - ' + experience.endDate}"></span>
            </div>
            <div class="experience-location">
                <span th:text="${experience.location + ' | ' + experience.city}"></span>
            </div>
            <div class="experience-description" th:text="${experience.factDescription}">Job description</div>
            <div class="experience-technologies">
                <span>Technologies :</span>
                <div class="experience-skills" th:each="skill : ${experience.linkedSkills}">
                    <span th:text="${skill.skillName}">List of technologies</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>