<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<table th:fragment="technologies" class="technologies" th:if="${data.getSkills() != null}"
     th:with="totalSkills=${data.getSkills().size()}">
    <TR class="skills-circle-container" th:if="${totalSkills > 0}">
        <TD class="skills-before" th:with="halfSkills=${data.getSkills().subList(0, totalSkills / 2)}">
            <div class="skill-circle" th:each="skill : ${halfSkills}">
                <div th:replace="~{/component/skill::skill(skill=${skill})}"></div>
            </div>
        </TD>

        <TD class="profile-image">
            <img src="/images/picture.png" alt="Profile Image"/>
        </TD>

        <TD class="skills-after" th:with="secondHalfSkills=${data.getSkills().subList(totalSkills / 2, totalSkills)}">
            <div class="skill-circle" th:each="skill : ${secondHalfSkills}">
                <div th:replace="~{/component/skill::skill(skill=${skill})}"></div>
            </div>
        </TD>
    </TR>
</table>
</body>
</html>
